table {
  list-style:none;
  padding:6px;
  margin: auto;
  width: 57%;
  margin-top: 12px;
}

tr {
  font-size: 1.3 rem;
  line-height: 2 rem;
  border-bottom: 1px dotted #777;
}

form{
  font-size: 1.2 rem;
  line-height: 2 rem;
  border-bottom: 1px dotted #777;
  margin: auto;
  padding:6px;
}
label{
  margin: 4px;
}
input{
  margin: 4px;
}
